/* body section */

body{
    background: linear-gradient(
        to right,
        #F5F6FA,
        #f1f2f9
    );
    height: 5698px;
}

/* header section */
.container{
    background-image: url('./images/Hero_Section.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1119px;
}




nav{
    margin: 0 300px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* margin-top: 27px; */
}


ul{
    display: flex;
    margin-top: 40px;
}


li{
    margin-right: 29px;
    list-style: none;
}


a{
    text-decoration: none;
    color: #FFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
}
/* hover */
a:hover{
    text-decoration: none;
    color: #5846df;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
    cursor: pointer;
}





.logo{
    margin-right: 250px;
    margin-top: 33px;
}


.sing-up{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(255, 255, 255, 0.00);
    width: 135px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 27px;
    /* margin-right: 40%; */
}



/* hover */
.sing-up:hover{
    border-radius: 10px;
    border: none;
    background: #fff;
    width: 135px;
    height: 46px;
    flex-shrink: 0;
    color: #000;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 27px;
    /* margin-right: 40%; */
    cursor: pointer;
}


/* text container */

text{
    margin: 0 300px;
}

.y{
    color: #F5F6FA;
    font-family: "Circular Std", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 117.188% */
    margin:  0 300px;
    margin-top: 186px;
}


.one{
    color: #CED0D8;
    font-family: "Circular Std", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
    margin-left: 300px;
    margin-top: 30px;
}


.t{
    border-radius: 10px;
    background: #5846DF;
    border: none;
    color: #EFEDFF;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    width: 179.077px;
    height: 60px;
    margin-left: 300px;
    margin-top: 47px;

}

/* hover */
.t:hover{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(56, 42, 74, 0.00);
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
    cursor: pointer;
}




.v{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(56, 42, 74, 0.00);
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
    margin-left: 29.92px;
}

/* hover */
.v:hover{
    border-radius: 10px;
    background: #fff;
    width: 179.077px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    border: none;
    cursor: pointer;
}


/* main section */

.imag{
    width: 1170px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F6FA;
    backdrop-filter: blur(200px);
    margin-left: 300px;
    margin-top: -200px;
}


.maira{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    padding-top: 59px;
}

.img{
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
}


.img1{
    margin-right: 40px;
}


/* about section */

.container-9{
    display: flex;
    margin:  0 300px;
}

.re{
    margin-top: 50px;
}


.heading{
    margin-top: 50px;
    margin-left: 105px;
}


.cla{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.clas{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 42px */

}


#id{
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
}


.pink{
    width: 172px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(88, 70, 223, 0.56);
    background: #F5F6FA;
    color: #5846DF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}

/* hover */


.pink:hover{
    width: 172px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(88, 70, 223, 0.56);
    background: #5846DF;
    color: #EFEDFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}


/* card section */

.why{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 146px;
    margin-bottom: 18px;
}


.way{
    color: #7B6A83;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}



/* card container */

.card-container{
    margin-left:  200px;
    margin-top: 68px;
}

.card-1{
    display: flex;
    gap: 20px;
}

.tow-inages{
    display: flex;
}




.card{
    width: 388px;
    height: 214px;
    border-radius: 10px;
    background: #FFF;
}


/* hover */


.card:hover{
    width: 388px;
    height: 214px;
    border-radius: 10px;
    background: #fff7f6;
}



/* card text section code */


.h3{
    margin-left: 24px;
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
    margin-top: 20px;
}


.more{
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-left: 20px;
}


.pra{
    margin-left: 20px;
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}


.home{
    margin-left: 251px;
    width: 92.98px;
height: 11.069px;
}