/* body section */

body{
    background: linear-gradient(
        to right,
        #F5F6FA,
        #f1f2f9
    );
    height: 5698px;
}

/* header section */
.container{
    background-image: url('./images/Hero_Section.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1119px;
}




nav{
    margin: 0 300px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    /* margin-top: 27px; */
}


ul{
    display: flex;
    margin-top: 40px;
}


li{
    margin-right: 29px;
    list-style: none;
}


a{
    text-decoration: none;
    color: #FFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
}
/* hover */
a:hover{
    text-decoration: none;
    color: #5846df;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.16px;
    cursor: pointer;
}





.logo{
    margin-right: 250px;
    margin-top: 33px;
}


.sing-up{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(255, 255, 255, 0.00);
    width: 135px;
    height: 46px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 27px;
    /* margin-right: 40%; */
}



/* hover */
.sing-up:hover{
    border-radius: 10px;
    border: none;
    background: #fff;
    width: 135px;
    height: 46px;
    flex-shrink: 0;
    color: #000;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 27px;
    /* margin-right: 40%; */
    cursor: pointer;
}


/* text container */

text{
    margin: 0 300px;
}

.y{
    color: #F5F6FA;
    font-family: "Circular Std", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 117.188% */
    margin:  0 300px;
    margin-top: 186px;
}


.one{
    color: #CED0D8;
    font-family: "Circular Std", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 180% */
    margin-left: 300px;
    margin-top: 30px;
}


.t{
    border-radius: 10px;
    background: #5846DF;
    border: none;
    color: #EFEDFF;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    width: 179.077px;
    height: 60px;
    margin-left: 300px;
    margin-top: 47px;

}

/* hover */
.t:hover{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(56, 42, 74, 0.00);
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
    cursor: pointer;
}




.v{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.41);
    background: rgba(56, 42, 74, 0.00);
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
    margin-left: 29.92px;
}

/* hover */
.v:hover{
    border-radius: 10px;
    background: #fff;
    width: 179.077px;
    height: 60px;
    flex-shrink: 0;
    color: #000;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    border: none;
    cursor: pointer;
}


/* main section */

.imag{
    width: 1170px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F5F6FA;
    backdrop-filter: blur(200px);
    margin-left: 300px;
    margin-top: -200px;
}


.maira{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    padding-top: 59px;
}

.img{
    margin-left: 150px;
    justify-content: space-evenly;
    align-items: center;
}


.img1{
    margin-right: 40px;
}


/* about section */

.container-9{
    display: flex;
    margin:  0 300px;
}

.re{
    margin-top: 50px;
}


.heading{
    margin-top: 50px;
    margin-left: 105px;
}


.cla{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.clas{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%; /* 42px */

}


#id{
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
}


.pink{
    width: 172px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(88, 70, 223, 0.56);
    background: #F5F6FA;
    color: #5846DF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}

/* hover */


.pink:hover{
    width: 172px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(88, 70, 223, 0.56);
    background: #5846DF;
    color: #EFEDFF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
}


/* card section */

.why{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 146px;
    margin-bottom: 18px;
}


.way{
    color: #7B6A83;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}



/* card container */

.card-container{
    margin-left:  250px;
    margin-top: 68px;
}

.card-1{
    display: flex;
    gap: 20px;
}

.tow-inages{
    display: flex;
}




.card{
    width: 388px;
    height: 214px;
    border-radius: 10px;
    background: #FFF;
}


/* hover */


.card:hover{
    width: 388px;
    height: 214px;
    border-radius: 10px;
    background: #fff7f6;
}



/* card text section code */


.h3{
    margin-left: 24px;
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
    margin-top: 20px;
}


.more{
    width: 65px;
    height: 65px;
    margin-top: 20px;
    margin-left: 20px;
}


.pra{
    margin-left: 20px;
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}


.home{
    margin-left: 251px;
    width: 92.98px;
    height: 11.069px;
}


/* two card  section */


.text-section{
    margin-left: 250px;
    display: flex;
    gap: 21px;
}

.tea{
    width: 376px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

/* hover */
.tea:hover{
    width: 376px;
    height: 566px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #daeae5;
    cursor: pointer;
}


.heading-jfi{
    margin-top: 155px;
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 250px;
}


.home-container{
    width: 318px;
    height: 266px;
    margin-left: 29.2px;
    margin-top: 29px;
}


.ser{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    margin-left: 30.21px;
}


.hut{
    margin-left: 30.21px;
    color: #7A6982;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    letter-spacing: -0.08px;
}


.readmore{
    margin-top: 48px;
    margin-left: 33px;
}


/* Security  section */



.security-container{
    display: flex;
    margin-left: 250px;
    gap: 20px;
}

.our{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 160px;
}


.security{
    width: 278px;
    height: 348px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}


/* hover */

.security:hover{
    width: 278px;
    height: 348px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff3a0;
}

.cc{
    width: 224px;
    height: 173px;
    margin-left: 50px;
}



.gpa{
    text-align: center;
    color: #7A6982;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 4px;
    text-transform: uppercase;

}



.morning{
    color: #462D4E;
    text-align: center;
    font-family: "Circular Std", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 170% */
    margin-top: 10px;
}


.right-1{
    margin-left: 100px;
}


.security2{
    width: 575px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}


/* hover */

.security2:hover{
    width: 575px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #f7d7ea;
}



.dor{
    margin-left: 200px;
    margin-top: 27px;
}



.dor-right{
    margin-left: 250px;
}


/* container4 */


.container-images-one-card{
    display: flex;
    margin-left: 250px;
    gap: 20px;
    margin-top: 23px;
}

.bon{
    width: 575px;
    height: 347px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

/* hover */

.bon:hover{
    width: 575px;
    height: 347px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #d2e2ef;
}




.gpaa{
    color: #7A6982;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 150px;
}


.mornin{
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 170% */
    margin-left: 150px;
}


.all-cc{
    margin-left: 100px;
}




.gp-in{
    margin-left: 60px;
    color: #7A6982;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 4px;
    text-transform: uppercase;
}


.mornin-in{
    margin-left: 60px;
    color: #462D4E;
    font-family: "Circular Std", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 170% */
}

.right-2{
    margin-left: 60px;
}




.all{
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(88, 70, 223, 0.56);
    color: #5846DF;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 59px;
    margin-left: 750px;
}


/* hover */
.all:hover{
    width: 179.08px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%; /* 23.2px */
    margin-top: 59px;
    margin-left: 750px;
    background-color: #5846df;
}

/* man section */

.heading-container-section{
    margin-top: 100px;
    display: flex;
    margin-left: 300px;

}



.what{
    color: #462D4E;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 60px */
}


.cursor{
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-left: 344px;
    margin-top: 40px;
}


.man{
    display: flex;
}


.card14{
    width: 476px;
    height: 283px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 40px 20px 30px 0px rgba(0, 0, 0, 0.05);
}


.start{
    margin-left: 20px;
}



.man-section-container{
    display: flex;
    gap: 20px;
    margin-left: 80px;
}

.praa{
    color: #7B6A83;
    font-family: "Circular Std", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 24px */
    margin-left: 20px;
}